# Azure AD / Entra ID Config
AZURE_TENANT_ID=xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
AZURE_FRONTEND_CLIENT_ID=xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
AZURE_BACKEND_CLIENT_ID=xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
AZURE_BACKEND_SCOPE=api://xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/access_as_user
AZURE_REDIRECT_URI=http://localhost:4200

