# Environment variables
.env
*.env

# Oracle Cloud Wallet & Security Credentials
Wallet_*.zip
*.sso
*.p12
*.jks
tnsnames.ora
sqlnet.ora

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store

# Node / Angular (Frontend)
node_modules/
dist/
.angular/

# Java / Spring Boot (Backend)
target/
*.class
*.jar
*.war
.gradle/
build/

# Agent configurations
.agents/

# Documentos locales de seguimiento y guías internas
DOCS/responsabilidades.md
DOCS/estado_actual.md
DOCS/guias/

# Ignorar carpetas clonadas de los microservicios individuales
ms-rutaexpress-bff/
ms-rutaexpress-envios/
rutaexpress-frontend/
