apiVersion: v1
kind: ConfigMap
metadata:
  name: rutaexpress-config
  labels:
    app: rutaexpress
data:
  # Azure AD
  AZURE_TENANT_ID: "TU_AZURE_TENANT_ID"
  AZURE_FRONTEND_CLIENT_ID: "TU_AZURE_FRONTEND_CLIENT_ID"
  AZURE_BACKEND_CLIENT_ID: "TU_AZURE_BACKEND_CLIENT_ID"
  AZURE_BACKEND_SCOPE: "api://TU_AZURE_BACKEND_CLIENT_ID/access_as_user"
  AZURE_REDIRECT_URI: "http://localhost:4200"

  # Base de Datos General (Usado por ms-rutaexpress-envios)
  ORACLE_DB_URL: "jdbc:oracle:thin:@rutaexpressdb_high?TNS_ADMIN=/opt/oracle/wallet"
  ORACLE_WALLET_LOCATION: "/opt/oracle/wallet"
  SPRING_PROFILES_ACTIVE: "dev"

---
apiVersion: v1
kind: Secret
metadata:
  name: rutaexpress-secrets
  labels:
    app: rutaexpress
type: Opaque
stringData:
  # Rellena estos valores con tus credenciales reales antes de hacer 'kubectl apply'
  ORACLE_DB_USERNAME: "USER_ENVIOS"
  ORACLE_DB_PASSWORD: "TU_ORACLE_DB_PASSWORD"
  ORACLE_ENVIOS_USERNAME: "USER_ENVIOS"
  ORACLE_ENVIOS_PASSWORD: "TU_ORACLE_ENVIOS_PASSWORD"
  ORACLE_CATALOGO_USERNAME: "USER_CATALOGO"
  ORACLE_CATALOGO_PASSWORD: "TU_ORACLE_CATALOGO_PASSWORD"
  ORACLE_AUDITORIA_USERNAME: "USER_AUDITORIA"
  ORACLE_AUDITORIA_PASSWORD: "TU_ORACLE_AUDITORIA_PASSWORD"
